[Unit]
Description=Radarr Daemon
After=syslog.target network.target
Requires=nzbget.service
StartLimitIntervalSec=0
 
[Service]
User=dluser
Group=dluser
 
Type=simple
 
ExecStart=/opt/downloaders/radarr/Radarr -nobrowser -data=/opt/downloaders.conf/radarr
TimeoutStopSec=20
KillMode=process
Restart=on-failure
RestartSec=5
 
[Install]
WantedBy=multi-user.target
Alias=radarr.service
